doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title STudent DB
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://www.google.com/recaptcha/api.js')
    style(type='text/css').
      .forgot-form {
      width: 400px;
      margin: 50px auto;
      }
      .forgot-form form {
      margin-bottom: 15px;
      background: #f7f7f7;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
      }
      .forgot-form h2 {
      margin: 0 0 15px;
      }
      .form-control, .btn {
      min-height: 38px;
      border-radius: 2px;
      }
      .btn {
      font-size: 15px;
      font-weight: bold;
      }
      h5{
        margin-bottom:1rem;
      }
      legend {
        font-size: 35px;
      }
      .container {
        padding-top:2rem;
      }
      .flash-content {
        width: 500px;
        margin: 10px auto;
      }
  body
  .container
    .flash-content
      |
      - if(error){
      .alert.alert-danger 
        .text-center #{error}
      - }
      |
      - if(info){
      .alert.alert-info 
        .text-center #{info}
      - }
      |
      - if(success){
      .alert.alert-success 
        .text-center #{success}
      - }
  .forgot-form
    form(action='/confrim-two-factor', method='post')
      legend Confirm Two Factor Authentication
      .form-group
        label(for='username') Username
        input.form-control(type='text', name='username', value=username, readonly)
      .form-group
        p Please input 6-digit code from your third partity:
        label(for='security') Security Code
        input.form-control(type='text', name='security', autofocus)
        |
        - if(error){
        h6(style="color:red") #{error}
        - }
      .form-group
        button.btn.btn-primary.btn-block(type='submit') Confirm 
      .clearfix
        a.pull-right(href='/') Back to Login ?
