extends layout

block content
  .border
    h1.text-center #{title}
    div
      form.form-inline(method='GET')
        .form-group
          input#pwd.form-control.col-5(type='text', placeholder='Search', name='search', style='width:460px; margin-right:1rem;')
          select.custom-select.col-2(style='width:auto; margin-right:1rem;' name='get_atr' )
            option(selected='' value='id_student') Id student
            option(value='name') Name
            option(value='address') Address
          select.custom-select.col-2(style='width:auto; margin-right:1rem;' name='sort')
            option(value='ASC') Ascending
            option(selected='' value='DESC') Descending
          button.btn.btn-success.form-control(type='submit', style='width:auto;')
            span.fa.fa-filter
            |  Filter
    div
      br
    div
    p 
      em #{notif2}
      table.table.table-bordered
        thead.thead-dark.table-center
          tr
            th No
            th Student Id
            th Name
            th Address
            th Student Email
            th Gender
            th Date of Birth
            th action
        tbody
          for student in data
            tr
              td.table-center= student.no
              td= student.id_student
              td= student.name
              td= student.address
              td.table-center= student.email_student
              td.table-center= script.getStudentGender(student.gender)
              td.table-center= moment(student.date_of_birth).format('DD-MM-YYYY')
              td.table-center
                form(action='/delete/'+student.id_student, method="POST" )
                  a.btn.btn-info(href='/student/'+student.id_student, role='button' style="margin-right: 1rem; margin-left: 1rem; width:auto;" ) 
                    span.fa.fa-pencil
                  button.btn.btn-danger(type="submit", role='button', onclick="return confirm('are you sure want to delete ?')" style="width:auto;") 
                    span.fa.fa-trash-o
      p.table-center 
        em #{notif}


